/* GLOBAL */
.btn-outline-primary {
    color: #194775;
    border-color: #194775;
}

.btn-outline-primary:hover {
    background-color: #194775;
    border-color: #194775;
    color: white!important;
}

.btn {
	box-shadow: none!important;
}


.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  color: #white !important;
  border-color: #194775 !important;
}

.btn-outline-primary:active {
	background-color: #194775 !important;
}


.btn-primary {
	background-color: #194775;
	border-color: rgba(25, 71, 117, 0.8); 
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #white !important;
  background-color: #113151 !important;
  border-color: #113151 !important;
  outline: #113151;
  outline-color: red!important;  
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  box-shadow: none !important;
  outline: none!important;
}

.pagination, .pagination:active {
	box-shadow: none !important;
	outline: none!important;
	margin-top:20px;
}

.page-link {
	box-shadow: none !important;
	outline: none!important;
	color:#194775;
}

.page-item.active .page-link { 
	background-color: #194775 !important; 
	border:0;
	box-shadow: none !important;
	outline: none!important;
}

.page-item.active .page-link:hover { 
	background-color: #113151 !important; 
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(25, 71, 117, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(25, 71, 117, 0.6);
  outline: 0 none;
}

button, .btn .btn-block {
	outline: 0 none;
}