/* GLOBAL */
.btn-outline-primary {
    color: #194775;
    border-color: #194775;
}

.btn-outline-primary:hover {
    background-color: #194775;
    border-color: #194775;
    color: white!important;
}

.btn {
	box-shadow: none!important;
}


.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus {
  color: #white !important;
  border-color: #194775 !important;
}

.btn-outline-primary:active {
	background-color: #194775 !important;
}


.btn-primary {
	background-color: #194775;
	border-color: rgba(25, 71, 117, 0.8); 
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #white !important;
  background-color: #113151 !important;
  border-color: #113151 !important;
  outline: #113151;
  outline-color: red!important;  
}

.btn-success:hover, .btn-success:active, .btn-success:focus {
  box-shadow: none !important;
  outline: none!important;
}

.pagination, .pagination:active {
	box-shadow: none !important;
	outline: none!important;
	margin-top:20px;
}

.page-link {
	box-shadow: none !important;
	outline: none!important;
	color:#194775;
}

.page-item.active .page-link { 
	background-color: #194775 !important; 
	border:0;
	box-shadow: none !important;
	outline: none!important;
}

.page-item.active .page-link:hover { 
	background-color: #113151 !important; 
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(25, 71, 117, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(25, 71, 117, 0.6);
  outline: 0 none;
}

button, .btn .btn-block {
	outline: 0 none;
}

/* NAVBAR */

.nav-link {
	color: white;
}

.brand a:active,.brand a:hover  {
	color: white;
}

.search {
	display: flex;
}

body > nav {
	background-color: #194775;
}

.navbar-nav li a {
	color: white!important;
}

.navbar-nav li:hover {
	background-color: #002851;
	
}

.navbar-nav li {
	transition: 0.3s;
}

.navbar-nav { 
    flex-direction: row;
}

.navbar, .navbar .container, .dropdown, .dropdown a {
	height:50px;
	border:0;
	
}

.dropdown .dropdown-menu{
    display: block; 
    opacity:0;
    transition: all 200ms ease-in;
 }
 .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
 }
 
body > div.container { margin-top: 20px; }

a.dropdown-toggle, a.dropdown-toggle:hover  { color: white; }

.navbar {
	padding: 0;
 }

#actions_noLogged{
  	display: flex;
}

  .navbar .container, .navbar .container ul a {
  	padding: 0 10px;
  	line-height: 50px;
  }

.show > .dropdown-menu.fade {
   pointer-events: auto;
   opacity: 1;
}

/* ---------------------------------------------------------------- */
/* HOME */

/* HOME NO LOGGED */

.home_title, .home_description {
	text-align: center;
}
.home_title {
	font-size: 9.5rem;
	text-align: center;
}

.home_description {
	font-size: 1.5rem;
}

.suggestion, .friendRequest, .friend, .group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	align-items: center;
}

.content {
	margin-top: 20px;
}

.content button {
	margin-bottom:10px;
}

.widget {
	margin-bottom: 40px;
}

.request_action a {
	margin-left: 20px;
}

/* POST */
.post_area {
	border:			1px solid #AAA;
	border-radius: 	3px;
	padding:		15px;
	
}

.post_area textarea, .comment_form textarea{
	min-height: 110px;
}

input[type='file'] {
	padding: 3px;
    padding-left: 10px;
}

.post, .comment_form {
    margin-bottom: 15px;
    margin-top: 15px;
}

.post h6 {
	display: inline;
	margin-right: 10px;
}

.post_info, .comment_info {
	margin-bottom: 15px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments {
	width: 100%;
	display: none;
}

.comments form {
	margin-top: 10px;
}



.comment {
	margin-top: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px 15px;
	box-shadow: 4px 5px #888;
}

.post_content {
	display: flex;
	flex-direction: column;
	
	border-bottom: 1px solid #ddd;
    padding-bottom: 30px;

	/*display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	*/
	/*text-align: center;*/
	
}
.post .image {
	/*background-color: blue;*/
	max-height: 400px;
	max-width: 600px;
	margin: auto;
}

.post .content {
	/*background-color: red;*/
	margin-bottom:10px;
}

.group_name {
    margin-left: 15px;
	border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    color:#aaa;
}

.member {
	border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.member:hover {
	background-color: #eee;
}

.result {
	display: flex;
	flex-direction: column;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 15px;
}

.search_name {
	margin-bottom: 15px;
}

.search_info {
	display: flex;
	justify-content: space-between;
}